/* src/components/ChatWidget.module.css */
.chatWidget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chatButton {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chatBox {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.message {
    margin-bottom: 5px;
}

.sentMessage {
    text-align: right;
    background-color: #C8E6C9;
    color: rgb(76, 13, 87);
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.receivedMessage {
    text-align: left;
    background-color: #f4f4f4;
    color: black;
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.inputBox {
    display: flex;
    padding: 10px;
}

.input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
}

.sendButton {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
